* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title-container {
  background-color: rgb(240, 225, 195);
}

.title {
  color: orange;
  text-align: center;
  font-size: 3rem;
  padding-top: 1%;
  letter-spacing: 0.2rem;
}

.title2 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 1%;
  font-weight: lighter;
  letter-spacing: 0.1rem;
}

#populationHeader,
#languagesHeader {
  display: none;
  text-align: center;
  margin-top: 1rem;
  font-weight: lighter;
  letter-spacing: 0.1rem;
}

.container {
  display: flex;
  justify-content: space-between;
  background-color: rgb(240, 225, 195);
  border-bottom: 3px solid rgba(0, 0, 0, 0.13);
  font-size: 1.5rem;
  font-weight: light;
}

.chart {
  width: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin: auto;
  margin-left: 10%;
  margin-right: 10%;
}

.bar {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  height: 30px;
}

.bar .label {
  flex: 1;
}

.bar .fill {
  flex: 0 0 auto;
  height: 100%;
  background-color: rgb(255, 166, 0);
}

.bar .percentage {
  width: 35%;
  text-align: center;
}

.button-container {
  padding-top: 1rem;
  text-align: center;
  width: 100%;
  height: 150px;
  border: 3px solid rgba(0, 0, 0, 0.13);
}

.button-container button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: orange;
  border: none;
  border-radius: 0.2rem;
}

#languagesButton:hover, 
#populationButton:hover {
  background-color: rgb(230, 150, 3);
  font-size: 110%;
  transition: 0.3s;
}


@media screen and (max-width: 848px) {
  .title {
      font-size: 1.8rem;
      letter-spacing: none;
  }

  .title2 {
      font-size: 1rem;
      font-weight: bold;
      letter-spacing: none;
  }

  .container {
      padding-bottom: 50px;
      font-size: 1rem;
      font-weight: bold;
  }
  .bar .fill{
    display: none;
  }
  .bar {
    background-color: rgba(105, 68, 23, 0.164);

  }
  .chart{
    margin: 1rem;
  }
  .button-container {
      height: auto;
  }
}